<h1 class="text-light mx-2">Editing video chat</h1>

<%= render "form", video_chat: @video_chat %>

<br>

<div>
  <%= link_to "Show this video chat", @video_chat %> |
  <%= link_to "Back to video chats", video_chats_path %>
</div>
