
<h1 class="text-white mx-2">New video chat</h1>


<div class="mx-2">
  <%= render "form", video_chat: @video_chat %>
</div>
<br>

<div class="mx-4">
  <%= link_to "Back to video chats", video_chats_path %>
</div>
