<h1 class="text-white m-2">Editing home page</h1>

<div class="text-white">
<%= render "form", home_page: @home_page %>
</div>

<br>

<div class="nav-link m-2">
  <%= link_to "Show this home page", @home_page %> |
  <%= link_to "Back to home pages", home_pages_path %>
</div>
