<h1 class="text-white">New home page</h1>

<div class="text-white">
<%= render "form", home_page: @home_page %>
</div>

<br>


<div>
  <%= link_to "Back to home pages", home_pages_path if current_user.admin? %>
</div>
