

@font-face {
    font-family: 'Lemon Milk';
    src: url('/assets/Lemon_Milk');
}

@font-face {
    font-family: 'Wellingtons Light';
    src: url('/assets/Wellingtons_Light');
}

h1 {
    font-family: 'Lemon Milk', 'Arial Black', 'sans-serif';
}

h6 {
    font-family: 'Wellingtons Light', 'Arial Black', 'sans-serif';
}